node_modules/
.env
.DS_Store
.vscode/
.idea/
*.log
build/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

go-ota/storage/*.json
go-ota/storage/android/*
go-ota/storage/ios/*
elysia-ota/storage/*.json
elysia-ota/storage/android/*
elysia-ota/storage/ios/*

!go-ota/storage/.gitkeep
!go-ota/storage/android/.gitkeep
!go-ota/storage/ios/.gitkeep
!elysia-ota/storage/.gitkeep
!elysia-ota/storage/android/.gitkeep
!elysia-ota/storage/ios/.gitkeep